DB_HOST=sre-db
DB_USER=root
DB_PASSWORD={your mysql password}
REDIS_HOST=redis
REDIS_PORT=6379
AWS_S3_TRACKING_BUCKET={your AWS S3 Bucket}
AWS_ACCESS_KEY={your AWS_ACCESS_KEY}
AWS_SECRET={your AWS_SECRET}
